{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Welcome to the TF-R Inc Careers Page
          </h1>
          <p class="lead">Browse our current openings and register for an account in our database. Joining and creating a profile
            will ensure indefinite consideration for future openings in which you may be qualified for.
          </p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword" value="{{ values.keywords }}">
                </div>
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Title</label>
                  <select name="title" class="form-control">
                    <option selected="true" disabled="disabled">Title</option>
                    {% for key,value in title.items %}
                        <option value="{{ key }}" 
                        {% if key == values.title %}
                          selected
                        {% endif %}
                        >{{ value }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <!-- Alerts -->
{% include 'partials/_alerts.html' %}
<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Latest Openings</h3>
    <div class="row">
      {% if requisitions %}
        {% for requisition in requisitions %}
          <!-- Listing 1 -->
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ requisition.photo_main.url }}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">${{ requisition.lowwage | intcomma }}-${{ requisition.highwage }} per Hour</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ requisition.title }}</h4>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fa fa-cog" aria-hidden="true"></i> Essential Functions: {{ requisition.essentialfunctions }}</div>
                  <div class="col-6">
                    <i class="fa fa-list" aria-hidden="true"></i> Skills: {{ requisition.skillsrequired }}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Education/Knowledge Required: {{ requisition.education_knowledgerequired }}</div>
                  <div class="col-6">
                    <i class="fa fa-id-card" aria-hidden="true"></i> Experience Required: {{ requisition.experiencerequired }} Years</div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-user"></i> {{ requisition.manager }}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> {{ requisition.dateofrequisition | timesince }}</div>
                </div>
                <hr>
                <a href="{% url 'requisition' requisition.id %}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>No Openings Available</p>
        </div>
      {% endif %}

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Propery Management</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}