{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Browse Our Job Openings</h1>
          <p class="lead">Click on the more info button below to view the full opening and apply within.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse Openings</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if requisitions %}
          {% for requisition in requisitions %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ requisition.photo_main.url  }}" alt="" style="max-height: 175px;">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">${{ requisition.lowwage | intcomma }}-${{ requisition.highwage }} per Hour</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ requisition.title }}</h4>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fa fa-cog" aria-hidden="true"></i> Essential Functions: {{ requisition.essentialfunctions }}</div>
                  <div class="col-6">
                    <<i class="fa fa-list" aria-hidden="true"></i> Skills: {{ requisition.skillsrequired }}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Education/Knowledge Required: {{ requisition.education_knowledgerequired }}</div>
                  <div class="col-6">
                    <i class="fa fa-id-card" aria-hidden="true"></i> Experience Required: {{ requisition.experiencerequired }} Years</div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> Supervisor: {{ requisition.hiringsupervisors  }}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> {{ requisition.dateofrequisition | timesince }}</div>
                </div>
                <hr>
                <a href="{% url 'requisition' requisition.id %}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Openings Availible</p>
          </div>          
        {% endif %}

        <div class="row">
          <div class="col-md-12">
            {% if requisitions.has_other_pages %}
              <ul class="pagination">
                {% if requisitions.has_previous %}
                  <li class="page-item">
                    <a href="?page={{requisitons.previous_page_number}}" class="page-link">&laquo;</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                  </li>
                {% endif %}
                {% for i in requisitions.paginator.page_range %}
                  {% if requisitions.number == i %}
                    <li class="page-item active">
                      <a class="page-link">{{i}}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                {% if requisitions.has_next %}
                  <li class="page-item">
                    <a href="?page={{ requisitions.next_page_number }}" class="page-link">&raquo;</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  {% endblock %}